@foreground-color: #333;
@accent-color: #0078D7;
@subtle-opacity: 0.6;

header.main-header {
	background-color: #000;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0px -320px 240px -240px #000;
	margin-top: -20px;
	position: relative;
	height: 180px;
	
	.header-title {
		position: absolute;
		bottom: 20px;
		color: #fff;
	
		small {
			color: #fff;
			opacity: @subtle-opacity;
		}
	}
}

main {
	margin: 10px 0 20px;
}

.grid-container {
	margin: 10px -10px;
	
	.grid-item {
		padding: 0 10px;
		margin: 10px 0;
		
		.image-border {
			
			border: 1px solid #ddd;
			padding: 4px;
			
			/* use this wrapper to enforce an aspect ratio */
			.image-wrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				overflow: hidden;
				
				img {
					position: absolute;
					height: 100%;
				}
			}
		}
		
		.grid-item-title {
			font-size: 15px;
			font-weight: 600;
			line-height: 1.3;
			margin: 6px 0 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			
			small {
				font-size: 85%;
				
				/* add a non-breaking space character to reserve space even when there's no text */
				&:after {
					content: '\a0';
				}
			}
		}
		
		a {
			color: @foreground-color;
			
			&:hover {
				color: @accent-color;
				
				small {
					color: @accent-color;
				}
				
				.image-border {
					border-color: @accent-color;
				}
			}
			
			&:focus, &:hover {
				text-decoration: none;
			}
		}
	}
}

.alert {
	margin: 20px 0;
}

footer.main-footer {
	background: #f4f4f4;
	padding: 10px 0;
	
	small {
		opacity: @subtle-opacity;
	}
}